body{
    font-family: Arial, Helvetica, sans-serif;
    color: #351f39;
}

.container{
    width: 85vh;
    height: 108vh;
    /* background-color: black; */
    margin: auto;
    display: flex;
    flex-direction: row;
}
.kiri{
    padding: 2vh;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    /* background-color: black; */
}

.kiri .foto{
    background-image: url(./profil.jpg);
    background-repeat: no-repeat;
    background-size: 31vh;
    background-position: center;
    height: 25vh;
    width: 25vh;
    margin: auto;
    border-width: 1vh;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
}

.kiri .nama{
    margin-top: 2vh;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
}

.kiri .field-data-diri{
    width: 90%;
    margin : 4vh 0 4vh 1vh;
}

.kiri .field-data-diri .judul{
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    margin: 0.5vh 0;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing:0.2vh;
}

.kiri .field-data-diri .isi{
    font-size: 1.5vh;
    margin: 0.5vh 0;
    font-weight: 100;
    text-align: justify;
}

.kiri .field-data-diri .isi .field-isi{
    margin: 0.5vh 0;
    display: flex;
    flex-direction: row;
}

.kiri .field-data-diri .isi .field-isi .isi-kiri{
    width: 40%;
    font-weight: bold;
}

.kiri .field-data-diri .isi .field-isi .isi-kanan{
    width: 60%;
}

.kanan{
    width: 60%;
    height: 100%;
    padding: 2vh;
    background-color: #f7f7e8;
}

.kanan .field-kanan{
    width: 100%;
    margin-bottom : 6vh;
    /* background-color: black; */
}

.field-kanan .judul{
    font-size: 3.5vh;
    letter-spacing: 0.1vh;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2vh;
    background-color: black;
    color: white;
    padding: 0.5vh;
    padding-left: 3vh;
    border-top-right-radius: 4vh;
    border-bottom-left-radius: 2vh;
}

.field-kanan .isi{
    display: flex;
    flex-direction: column;
    /* background-color: #f7f7e8; */
}

.field-kanan .isi .field-isi{
    margin: 0.5vh 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.9vh;
    font-weight: 500;
}

.field-kanan .isi .field-isi .isi-kiri{
    width: 40%;
    padding: 0 1vh;
}

.field-kanan .isi .field-isi .isi-kanan{
    width: 60%;
    padding: 0 1vh;
}

.bar{
    width: 100%;
    background-color: #ddd;
}

.skill{
    text-align: right;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    color: white;
}

.margin-2{
    margin-bottom: 2vh!important;
}

.margin-top-1{
    margin-top: 3vh!important;
}